/*==================================================
			 Media Queries         
==================================================*/


/* Large Devices (Desktops & Laptops) */

@media (min-width: 1200px) {
    
}


/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 992px) and (max-width: 1199px) {
    
}


/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 991px) {
    .timer-body-left {
        float: none;
        margin-bottom: 20px;
    }
    .timer-body-right {
        float: none;
    }
    .timer-body {
        height: auto;
        padding: 20px;
    }
    .timer-inner { 
        position: inherit; 
        height: auto; 
    }
    .timer-footer ul li {
        margin: 0 8%;
    }
}


/* Extra Small Devices (Landscape Phones & Portrait Tablets) */

@media (max-width: 767px) {
    .timer-head { 
        padding: 10px 10px;
    }
    .timer-head-left-inline h2, .timer-head-center p {
        font-size: 20px;
    }
    .timer-body p {
        font-size: 60px;
    }
    .timer-desc p { 
        font-size: 25px;
        padding: 20px;
    }
    .timer-head-left-inline i {
        font-size: 20px; 
    }
    .timer-body-left {
        float: none;
        margin-bottom: 20px;
    }
    .timer-body-right {
        float: none;
    }
    .timer-body {
        height: auto;
        padding: 20px 10px;
    }
    .timer-inner { 
        position: inherit; 
        height: auto; 
    }
    .timer-footer ul li {
        margin: 0 7%;
    }
    .timer-footer ul li a {
        color: #D8D8D8;
        font-size: 25px;
    }
    .timer-head .timer-head-a { 
        padding: 0;
    }
    .timer-footer ul { 
        padding: 25px 0; 
    }
}


/* Extra Small Devices (Portrait Phones & Smaller devices) */

@media (max-width: 480px) {
    
}


/* Extra Small Devices (Portrait Phones & Smaller devices) */

@media (max-width: 320px) {
    
    .timer-footer ul li a { 
    font-size: 20px;
}
}